<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<connectionStrings>
		<add name="Connn" connectionString="Data Source =DESKTOP-NM6R0TA; Initial Catalog = INTER_BOS; User ID = sa; Password = ;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>